<%- include('_header') %>

<head>
</head>
<body class="animate__animated animate__fadeInDown">        
        <div class = "card  p-3 mb-2 bg-primary text-white" style="padding:20px; margin:12% auto; width: 50%; ">
            <h1 style="text-align:center ;"> Welcome to CO-TRIP 19</h1>
            <p style="text-align:center ;">A solution to your healthy trip</p>
            <div  class ="d-flex justify-content-center">
                <div  class="p-2"><a class="btn btn-light" href="/userlogin">I am a tourist</a></div>
                <div class="p-2"><a  class="btn btn-light" href="/adminlogin">I am a country representative</a></div>
            </div>
        </div>
    <%- include('_footer') %>
</body>
