<%- include('_header') %>

<% model.forEach(function(tourist) { %>
<body style="padding: 50px;" class="animate__animated animate__fadeInUp">
    <div class = "card" style="padding:20px; margin:12% auto; width: 50%;">
        <h3>Edit Your credential</h3>
        <form action="/userpass" method="POST">
            <input type="hidden" name="id" id="id" value="<%=tourist.id %>" class="form-control">
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" name="username" id="username" placeholder="New username" class="form-control">
            </div>

            <div class="form-group">
                  <label for="password">password</label>
                  <input type="password" name="password" id="password" placeholder="New Password" class="form-control">
            </div>
            <button  class="btn btn-dark"  type="submit">Change</button>
            <a href="/userdashboard/<%= tourist.id %>">back</a> 
          </form>
         
         
    </div>
</body>
<% }); %>